.hero {
  position: relative;
  background-image: url("../assets/images/hero--large.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 1rem solid $color-primary;

  /* RESPONSIVE IMAGES USING CSS*/

  @include respond(big-desktop) {
    background-image: url("../assets/images/hero--large.jpg");
  }

  @media only screen and (min-width: 112.5em) and (min-resolution: 192dpi),
    only screen and(min-width:112.5em) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-width: 112.5em) {
    backgrounmage: url("../assets/images/hero--large-hi-dpi.jpg");
  }

  @include respond(tab-land) {
    background-image: url("../assets/images/hero--medium.jpg");
  }

  @media only screen and (max-width: 75em) and (min-resolution: 192dpi),
    only screen and(max-width:75em) and (-webkit-min-device-pixel-ratio: 2) {
    background-image: url("../assets/images/hero--medium-hi-dpi.jpg");
  }

  @include respond(tab-port) {
    background-image: url("../assets/images/hero--small.jpg");
  }

  @media only screen and (max-width: 59.5em) and (min-resolution: 192dpi),
    only screen and (max-width: 59.5em) and (-webkit-min-device-pixel-ratio: 2) {
    background-image: url("../assets/images/hero--small-hi-dpi.jpg");
  }

  @include respond(phone) {
    background-image: url("../assets/images/hero--smaller.jpg");
  }

  @media only screen and (max-width: 37.5em) and (min-resolution: 192dpi),
    only screen and (max-width: 37.5em) and (-webkit-min-device-pixel-ratio: 2) {
    background-image: url("../assets/images/hero--smaller-hi-dpi.jpg");
  }

  /******************************************************************************/

  &__text {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__text h1 > * {
    display: block;
  }

  &__text {
  }

  &__paragraph {
    width: 60%;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: 300;
    color: $color-white;

    @include respond(tab-land-md) {
      font-size: 1.8rem;
    }
  }
}

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-image: linear-gradient(
    rgba($color-primary, 0.5),
    rgba($color-primary, 0.5)
  );
  padding: 2rem 8rem 2rem;

  @include respond(tab-port) {
    padding: 2rem 4rem 2rem;
  }

  @include respond(phone-land){
    height: 8rem;
  }
}

.hero__logo-box {
  position: absolute;
  top: 0;
  left: 10rem;
  width: 15%;
  // max-width: 220px;
  // min-width: 220px;
  width: 220px;
  background-color: $color-primary;
  padding: 1rem 0 4rem;
  text-align: center;
  color: $color-white;

  @include respond(tab-port) {
    left: 5rem;
    // padding: 1rem 0 4rem;
    width: 180px;
  }

  @include respond(phone-land){
  padding: 1rem 0 2rem;

  }
}

.line--1,
.line--2 {
  display: block;
}

.line--1 {
  font-size: 3rem;
}

.line--2 {
  font-size: 2.5rem;
}

.nav {
  margin-left: auto;

  @include respond(phone-land) {
    display: none;
  }

  &__list {
    list-style: none;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__item {
  }

  &__link:link,
  &__link:visited {
    color: $color-white;
    text-decoration: none;
  }

  &__link:hover,
  &__link:active {
    color: $color-secondary;
    text-decoration: none;
  }

  &__link--cta {
    display: inline-block;
    padding: 1rem 2.5rem;
    background-color: $color-primary;
    color: $color-white;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    transition: all ease 0.3s;
  }

  &__link--cta:hover,
  &__link:active {
    color: $color-white;
  }
}
