.mobile-nav {
  display: none;

  @include respond(phone-land){
    display: block;
    position: absolute;
    right: 5rem;
    top: 5rem;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    cursor: pointer;
  }
  
  &__icon {
    display: inline-block;
    background-color: $color-secondary;
    height: 2px;
    width: 10px;
    transition: all ease 0.3s;
    
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 9999999;
  }

  &__icon::before,
  &__icon::after {
    content: "";
    display: inline-block;
    height: 3px;
    background-color: $color-secondary;
    position: absolute;
    right: 0;
    transition: all ease 0.3s;
  }

  &__icon::before {
    width: 20px;
    top: -7px;
  }

  &__icon::after {
    width: 14px;
    bottom: -7px;
  }

  &__button:hover &__icon::before {
    transform: translateX(12px);
  }

  &__button:hover &__icon::after {
    transform: translateX(7px);
  }
}

.navigation{
  position: absolute;
  top: 0;
  left: 0;
  
  &__nav{
    
    background-color: $color-primary;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;

    display: flex;
    align-items: center;
    justify-content: center;

  }

  &__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin: 0 auto;
  }

  &__item{
  }

  &__link{
    text-decoration: none;
    color: $color-white;
    font-size: 3rem;
  }
}

.navigation__list .nav__link{
  font-size: 3rem;
}
