.mobile-nav {

  &__checkbox {
  }

  &__button {
    cursor: pointer;
  }

  &__icon {
    display: inline-block;
    background-color: $color-primary;
    height: 1px;
    width: 10px;
    transition: all ease 0.3s;

    position: relative;
  }

&__icon::before,
&__icon::after{
  content: "";
  display: inline-block;
  height: 3px;
  background-color: $color-primary;
  position: absolute;
  right: 0;
  transition: all ease 0.3s;
}

  &__icon::before {
    width: 20px;
    top: -7px;
  }

  &__icon::after {
    width: 14px;
    bottom: -7px;
  }

  &__button:hover &__icon::before {
    transform: translateX(12px);
  }

  &__button:hover &__icon::after {
    transform: translateX(7px);
  }

}