.stories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, min-content));
  justify-content: center;
  grid-column-gap: 4rem;
  grid-row-gap: 16rem;
  
  @include respond(phone-port){
    grid-template-columns: 70%;
  }
}


.story{
  position: relative;
}


.story__img{
  border-radius: 50%;
  margin-bottom: .5rem;
  border:6px solid $color-white;
  position:absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
  
  // @include respond(phone-port){
  //   transform: translate(-50%,-150%);
  // }
}

.story__content{
  background-color: $color-white;
  opacity: .7;
  padding: 12rem 4rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.story__name{
color: $color-primary;
font-size: 2.5rem;
font-weight:500;
margin-bottom: .5rem;
}

.story__time{
font-size: 1.6rem;
color: $color-secondary;
margin-bottom: 2rem;
}

.story__text{
font-size: 1.6rem;
font-weight: 300;
letter-spacing: 1px;
line-height: 1.6;
}

.icon--coment {
  background-image: url("../assets/images/icons/comment.svg");
}
