body {
  font-family: "roboto", sans-serif;
}

.heading-primary {
  font-size: 7rem;
  font-weight: 300;
  color: $color-primary;
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 300;
  color: $color-primary;
}

.heading-tertiary {
  font-size: 5.5rem;
  font-weight: 300;
  color: inherit;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  @include respond(tab-land-md)
  {
    flex-direction: column;
    gap: 1rem;
  }

  @include respond(phone-land){
    font-size: 4rem;
  }
}

.heading-fourth {
  font-weight: 500;
  font-size: 4rem;
  font-weight: 300;
  color: $color-primary;
}
