body {
  font-family: "roboto", sans-serif;
}

.heading-primary{
  font-size: 7rem;
  font-weight: 300;
  color: $color-primary;
}

.heading-secondary{
  font-size: 4rem;
  font-weight: 300;
  color: $color-primary;
}

.heading-tertiary{
  font-size: 4rem;
  font-weight: 300;
  color: inherit;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 4rem;
}