body {
  font-family: "roboto", sans-serif;
}

.heading-primary{
  font-size: 7rem;
  font-weight: 300;
  color: $color-primary;
}

.heading-secondary{
  font-size: 4rem;
  font-weight: 300;
  color: $color-primary;
}