.u-margin-bottom-hg{
  margin-bottom: 16rem !important;
}

.u-margin-bottom-la{
  margin-bottom: 8rem !important;
}

.u-margin-bottom-md{
  margin-bottom: 4rem !important;
}

.u-margin-bottom-sm{
  margin-bottom: 3rem !important;
}

.u-bold{
  font-weight: 700;
}

.u-color-white{
  color: $color-white !important;
} 

.u-color-blue{
  color: $color-primary !important;
} 

.u-color-orange{
  color: $color-secondary !important;
}

.u-bg-blue{
  background-color: $color-primary !important;
}

.u-bg-orange{
  background-color: $color-secondary !important;
}

.u-ft-wgth-300{
  font-weight: 300 !important;
}

.u-gap-small{
  display: flex;
  gap: 1rem;
}